[Desktop Entry]

Type=Application
Version=1.0
Name=Kdenlive
GenericName=Video editor
Exec=/home/michael/.local/src/kdenlive-23.08.2-x86-64.AppImage
Icon=kdenlive-icon
