# This is Git's per-user configuration file.
[alias]
  co = checkout
  br = branch
  ca = commit -am
  s = status
  cm = commit -m
  cam = commit --amend --no-edit
  l = log --all --graph --decorate --oneline

  unstage = reset HEAD --

  undo = reset --soft HEAD^ #undo a commit

  sl = stash list --pretty=format:\"%C(red)%h%C(reset) - %C(dim yellow)(%C(bold magenta)%gd%C(dim yellow))%C(reset) %<(70,trunc)%s %C(green)(%cr)%C(bold blue)<%an>%C(reset)\"

  discard = !git stash save --keep-index --include-untracked && git stash drop

  ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat

dd = diff --dirstat --find-copies --find-renames --histogram --color

[url "https://"]
	insteadOf = git://

[merge]
  tool = vimdiff
[mergetool]
  prompt = true
[mergetool "vimdiff"]
  cmd = nvim -d $BASE $LOCAL

[include]
    path = ~/.config/git/git-personal.conf
[includeIf "gitdir:~/Documents/code/***REMOVED***/"]
    path = ~/.config/git/git-work.conf

