personal/
.DS_Store
nvim/.config/nvim/plugin
vim/.config/vim/plugged
ranger/.config/ranger/bookmarks
ranger/.config/ranger/history
.env
git-work.conf
newsboat/.config/newsboat/pw
newsboat/.config/newsboat/urls
