.env
personal/
dotlocal/share
dotlocal/cache
dotlocal/state
dotconfig/nvim/plugin
dotconfig/vim/plugged
dotconfig/ranger/bookmarks
dotconfig/ranger/history
dotconfig/newsboat/pw
dotconfig/newsboat/urls
dotconfig/zsh/.zcompdump
dotconfig/zsh/plugins
dotconfig/zsh/zsh-local
dotconfig/npm/npmrc
dotconfig/mpv/watch_later
dotconfig/mpv/playlists
