personal/
.DS_Store
nvim/.config/nvim/plugin
vim/.config/vim/plugged
ranger/.config/ranger/bookmarks
ranger/.config/ranger/history
.env
git-work.conf
newsboat/.config/newsboat/pw
newsboat/.config/newsboat/urls
zsh/.config/zsh/.zcompdump
zsh/.config/zsh/plugins
zsh/.config/zsh/zsh-local
npm/.config/npm/npmrc
scripts/.local/share
scripts/.local/cache
scripts/.local/state
mpv/.config/mpv/watch_later
mpv/.config/mpv/playlists
