[Unit]
Description=Bluetooth Auto Connect
After=bluetooth.service
Requires=bluetooth.service

[Service]
ExecStart=/usr/local/bin/bt-connect
Restart=on-failure
User=kodi

[Install]
WantedBy=default.target
