## Can be moved to .zprofile if needed
export ZDOTDIR="$HOME"/.config/zsh

## Can be moved to .profile if needed
# [ -f "$HOME/.bash_profile" ] && . "$HOME/.bash_profile"
[ -f "$HOME/.zshenv" ] && . "$HOME/.zshenv"
