
# Brew commands
alias binstall="brew install";
alias cinstall="brew cask install";
alias bsearch="brew search";
alias binfo="brew info";


# Abbreviations
alias r="ranger";
alias ka="killall";
alias g="git";
alias gs="git status";

[ $(uname) == 'Darwin' ] && alias ls="gls -hGF --color=auto --group-directories-first" || alias ls="ls -hGF --color=auto --group-directories-first"
alias la="ls -A";
alias grep="grep --color=auto";
alias fgrep="fgrep --color=auto";
alias egrep="egrep --color=auto";
alias mv="mv -i";
alias rm="rm -i";
alias cp="cp -i";
alias mkd="mkdir -pv";

mcd() {
  mkdir -pv $1; cd $1;
}

# alias code="code $1 & exit"

vs() { 
  code $1; exit;
}


# Easier navigation: .., ..., ...., ....., ~ and -
alias ..="cd ..";
alias ...="cd ../..";
alias ....="cd ../../..";
alias .....="cd ../../../..";

# Shortcuts
alias pr="cd ~/Documents/Tech/Projects"
alias dox="cd ~/Documents"
alias dls="cd ~/Downloads"
alias hub="cd ~/Documents/ss/invicta/ckla-hub"
alias core="cd ~/Documents/ss/invicta/ckla-core"
alias ckla="cd ~/Documents/ss/invicta/ca-ckla-***REMOVED***-com-website"

# Internet
alias yt="youtube-dl --add-metadata -ic" # Download video
alias yta="youtube-dl --add-metadata -icx" # Download audio
alias weather="curl wttr.in"

# Get week number
alias week='date +%V'

###
# macOs
###

alias yabairestart='launchctl kickstart -k "gui/${UID}/homebrew.mxcl.yabai"';

# Show/hide hidden files in Finder
alias show="defaults write com.apple.finder AppleShowAllFiles -bool true && killall Finder"
alias hide="defaults write com.apple.finder AppleShowAllFiles -bool false && killall Finder"

# Recursively delete `.DS_Store` files
alias cleanup="find . -type f -name '*.DS_Store' -ls -delete"

# Hide/show all desktop icons (useful when presenting)
alias hidedesktop="defaults write com.apple.finder CreateDesktop -bool false && killall Finder"
alias showdesktop="defaults write com.apple.finder CreateDesktop -bool true && killall Finder"
